{% extends 'base.html.twig' %}
{% spaceless %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ pageTitle }}</h1>
        <p>Esto es un contenido de ejemplo. Este contenido debe ser reemplazado por otro contenido real. Incluye tres cajas en la parte inferior con enlaces de ejemplo. Está definido de esta forma para demostrar la capacidad de esta página.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Leer más »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Título</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Título</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Título</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Mercel Group - 2016</p>
      </footer>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% endspaceless %}