{% extends "FOSUserBundle::layout.html.twig" %}
{% spaceless %}

{% block fos_user_content %}
<div class="sm-user-crud">
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
</div>
{% endblock fos_user_content %}

{% endspaceless %}